#test {
    color: #ff00ea;
    font: Comic Sans MS 12;
}
/* Theme any widget named main-entry */
#startCapture {
    color: #ff00ea;
    font: Comic Sans MS 12;
}

* {
    border-color: #000000;
    border-width: 10;
}
#Previous-Action{
    border-color: #ff0000;
    border-width: 8;
}
#Actual-Action{
    border-color: #ff0000;
    border-width: 8;
}
#Next-Action{
    border-color: #ff0000;
    border-width: 8;
}